* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: rgb(122, 89, 156);
}

h2 {
    color: rgb(122, 89, 156);
}

h5 {
    color: rgb(122, 165, 226);
}

.header h1 {
    font-size: 50px;
}

.frame {
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
}


.frame img {
    background-color: #aaa;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
}


.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    background-color: #F1F1F1;
}

.topnav {
    background-color: rgb(185, 158, 212);
}

.topnav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;

    padding: 10px;
    text-transform: uppercase;
}

.inernav {
    width: 50%;
    margin-inline: auto;
    text-align: center;
}

.topnav a:hover {
    background-color: rgb(122, 89, 156);
    font-weight: bold;
}

.footer {
    display: block;
    width: 100%;
    float: left;
    padding: 20px;
    text-align: center;
    background-color: #ddd;
}